.react-search-field {
  padding: 20px;
}

h3, h5 {
  margin: 10px 0;
}

ul, li {
  list-style: none;
  margin: 0;
  font-size: 13px;
  width: 100%;
}

ul {
  display: inline-flex;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.text-field {
  border: 6px solid #ddd;
  width: 80%;
}

.list-example {
  border: 1px solid #ddd;
  width: 80%;
  margin: 15px 0;
  display: table;
}

.list-body {
  display: flex;
  flex-direction: column;
}

.panel-header {
  width: 80%;
  background-color: aliceblue;
}

.panel-toggle {
  width: 100%;
  background-color: burlywood;
}

.card {
  width:100%;
  background-color: blanchedalmond;
}

.card {
  width: 98%;
  background-color: bisque;
  margin:10px;
}

.star {
  right: 4px;
  position: absolute;
}

.point {
  right: 18px;
  position: absolute;
}